* {
    box-sizing: border-box;
  }

  .cadastro {
      background-color: #EFEFEF;
      width: 40%;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 1%;
      height: relative;
      padding: 55px;
  }