.maindivlista {
	padding: 15px;
	background-color: #e8e8e8;
}

.titulolista {
	margin-right: 10px;
	font-size: 16pt;
	font-weight: 500;
}

.barratitulo {
	margin-bottom: 6px;
}


.divlista {
	max-width: 100%;
}

.column-name {
	width: 30% !important;
}

.column-cargo {
	width: 10% !important;
	text-align: center;
}

.column-beneficio {
	width: 20% !important;
}

.column-valor {
	width: 10% !important;
	text-align: center;
}

.column-ultimouso {
	width: 20% !important;
	text-align: center;
}

.column-botoes {
	width: 10% !important;
	text-align: center;
}

.ui-datatable-scrollable-header {
	width: 100% !important;
}